html, body{
  height: 100%;
}
body { 
			background-image: url("./images/lightsBG.png") ;
			background-position: center center;
			background-repeat:  no-repeat;
			background-attachment: fixed;
			background-size:  cover;
			background-color: #999;
  
}